html{
    background-color: #130E19;
}

/*==============
    NAVBAR
===============*/
.navbar{
    display: grid;
    grid-area: nav;
    grid-template-columns:  1fr 1fr 1.5fr 1fr 1fr ;
    align-items: center;
    margin: 3% 10%;
}
.navbar ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar li {
    display: inline-block;
  }
  
  .navbar li a {
    display: flex;
    text-decoration: none;
    font-family: 'Encode Sans Semi Expanded', sans-serif;
    font-weight:500;
    color: white;
    padding: 10px;
    letter-spacing: 0.25em;

  }
  
  .pt2-logo {
    grid-column: 3/4;
    text-align: center;
    padding: .3em 0 ;
  }
  
  .pt1-home-about {
    grid-column: 1/3;

  }
  
  .pt3-work-contact {
    grid-column: 4/-1;

  }
  .pt2-logo img{
    margin-top:0.7em;
    width: 35%
}


/*=============
     HEADER 
===============*/
.headline{
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 1.4em;
}
#header-line{
    margin-top: 4%;
    margin-bottom: 1em;
    color: #E6E6E670;
}

#header-entry{
    color: #4AFF88;
}

/*=============
    Project - 1
===============*/


.project1{
    display: grid;
    color: #fff;
    grid-template-columns:  5fr 7fr ;
    margin: 4em 5em;
    align-items: center;

}
.card1{
    display: grid;
    grid-column: 1/-1;
    grid-row: 1;
    margin: 2em 5%;
    border-top: 0.8em solid #7F00FF;
    width: 35em;
    background-color: #130E19;
}
.card1 p{
    font-family: 'Inter', sans-serif;
    color: #fff;
    font-weight: lighter;
    font-size: 1em;
    line-height: 192%;
    letter-spacing: 0.03em;
    margin-right: 1em;
}
.project1-image{
    display: grid;
    grid-column: 2/-1;
    grid-row: 1;
    width: 40em;
}
#card1-headline{
    color: #EAACB8;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}
.tech-logos{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    gap: 2em;
}
.tech-logos  img{
    width: 2em;
}

.project1-gh-icon > svg{
    height: 2em;
    float: right;
    margin: -2em 2em 0.5em 0;
}

/*==============
    Project - 2
===============*/


.project2{
    display: grid;
    color: #fff;
    grid-template-columns:  5fr 7fr ;
    margin: 10em 5em;
    align-items: center;

}
.card2{
    display: grid;
    grid-column: 2/-1;
    grid-row: 1;
    border-top: 0.8em solid #48A5E9;
    width: 35em;
    background-color: #130E19;
    margin-right: 5em;
    margin: 2em -7%;


}
.card2 p{
    font-family: 'Inter', sans-serif;
    color: #fff;
    font-weight: lighter;
    font-size: 1em;
    line-height: 192%;
    letter-spacing: 0.03em;
    margin-left: 1em;
}
.project2-image{
    display: grid;
    grid-column: 1/2;
    grid-row: 1;
    width: 40em;
    margin: 0 10%;
}
#card2-headline{
    color: #7ACBF5;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    margin-left: 0.8em;
}
.tech-logos-p2{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    gap: 2em;
    margin-left: 1em;
}
.tech-logos-p2  img{
    width: 2em;
}

.project2-gh-icon > svg{
    height: 2em;
    float: right;
    margin: -2em 2em 0.5em 0;
}
#csharp-p2{
    height: 2.5em;
    width: 2.5em;
    margin-top: -0.25em;
}

/*==============
    Project - 3
===============*/

.project3{
    display: grid;
    color: #fff;
    grid-template-columns:  5fr 7fr ;
    margin: 4em 5em;
    align-items: center;

}
.card3{
    display: grid;
    grid-column: 1/-1;
    grid-row: 1;
    margin: 2em 5%;
    border-top: 0.8em solid #E26A44;
    width: 35em;
    background-color: #130E19;
}
.card3 p{
    font-family: 'Inter', sans-serif;
    color: #fff;
    font-weight: lighter;
    font-size: 1em;
    line-height: 192%;
    letter-spacing: 0.03em;
    margin-right: 1em;
}
.project3-image{
    display: grid;
    grid-column: 2/-1;
    grid-row: 1;
    width: 40em;
}
#card3-headline{
    color: #EED17D;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}
.tech-logos-pt3{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    gap: 2em;
}
.tech-logos-pt3  img{
    width: 2em;
}

.project3-gh-icon > svg{
    height: 2em;
    float: right;
    margin: -2em 2em 0.5em 0;
}
#csharp-p3{
    height: 2.5em;
    width: 2.5em;
    margin-top: -0.25em;
}

/*===================
    MAIL ME BUTTON
====================*/

.mail-btn{
    display: flex;
    justify-content: center;
    margin: 3em 0;
}

.mail-button{
    padding: 1em 2em;
    background-color: transparent !important;
    border: 2px solid #fff;
    color: white;
    text-decoration: underline;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 1.25em;
    letter-spacing: 0.175em;
    cursor: pointer;
}
.mail-btn svg{
    position: absolute;
    margin: -1em 0 0 0.5em;
    transform: rotate(-45deg) ;
    height: 1.5em;
}